<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="用户注册">form</h1>
<form action="/registration" method="POST" enctype="utf8">

    用户名：<input name="username" type="text"/>
    密  码：<input name="password" type="password"/>
    邮  箱：<input name="email" type="email"/>
            <button type="submit" name="注册">注册</button>

</form>
<th:block th:text="${message}"></th:block>

<a th:href="@{/login.html}" th:text="登录">login</a>
</body>
</html>